/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}


.chart_container {
  position: relative;
  height:100px;
  width: 200px;
}

.size_fix {
  width: 100%;
}

#data_list_scroll {
  width:100%;
  overflow-x:scroll;
}

table.layout-fixed {
    table-layout: fixed;
}

#data_list {
  maxwidth: 100%;
}

.data_scroll {
  height:200px;
  overflow-y:auto;
}

#data_detail {
  padding: 10px;
}

#data_detail_content table {
  width: 98%;
  margin: auto;
}

#description {
  text-align: center;
  width: 200px;
  height: 230px;
}

#described {
  padding-left: 2%;
  height: 230px;
}

.dist_chart {
  float: left;
  position: relative;
  padding-left: 2%;
  height:200px;
}

#described0 .btn-group-vertical {
  float:left;
}

.y_scroll {
  max-height: 200px;
  overflow-y: scroll;
}


.del_button {
  background-color: rgb(10,10,10,0.2);
  border-radius: 7px;
  display: inline-block;
}

.batsu{
    font-size: 80%;/*ボタンの大きさ*/
    font-weight: bold;
    border: 1px solid #999;
    color: #999 !important;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 1.3em;
    line-height: 1.3em;
    cursor: pointer;
    transition: .2s;
}
    
.batsu:hover{
    background: #333;
    border-color: #333;
    color: #FFF !important;
}
